- name: Deploy to K8s
  hosts: all
  tasks:

    - name: Update backend image tag
      shell: |
        /snap/bin/kubectl set image deployment/rag-backend rag-backend=mrvandana1/rag-backend:{{ image_tag }}

    - name: Update frontend image tag
      shell: |
        /snap/bin/kubectl set image deployment/rag-frontend rag-frontend=mrvandana1/rag-frontend:{{ image_tag }}
