---
- name: Deploy RAG App to Minikube
  hosts: local
  gather_facts: false      
  vars:
    backend_image: "{{ backend_image | default('none') }}"
    frontend_image: "{{ frontend_image | default('none') }}"

  tasks:
    - name: Deploy backend if image provided
      include_role:
        name: backend
      when: backend_image != "none"

    - name: Deploy frontend if image provided
      include_role:
        name: frontend
      when: frontend_image != "none"
